@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent}
body {line-height:1}
html, body {margin:0px; padding:0px; font-family:"돋움", "Dotum", "Tahoma"; font-size:12px; color:#666; background:#fff;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ul, ol {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none}
a {margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent}
abbr[title], dfn[title] {border-bottom:1px dotted; cursor:help}
table {border-collapse:collapse; border-spacing:0}
input, select {height:21px; vertical-align:middle; color:#666; font-family:dotum;}
a, a:link, a:visited, a:active {color:#444; text-decoration:none}
a:hover {color:#444; text-decoration:none}
/* For modern browsers */
.clfix:before,.clfix:after {content:"";display:table}
.clfix:after{clear:both}
* html .clfix {height:1%} /* Hides from IE-mac */
.clfix{zoom:1}

.png24 {tmp:expression(setPng24(this))} /* ie6 png */
.invisible{overflow:hidden; visibility:hidden; width:0; height:0; font-size:0; line-height:0; display:none}
#skip {height:0; line-height:0; font-size:0; text-indent:-1000px}
caption, legend, .hidden {width:0; height:0; line-height:0; overflow:hidden; visibility:hidden; font-size:0}
#skipNavi{position:relative; width:100%; left:0;top:0; text-align:center;z-index:999}
#skipNavi a{position:absolute; left:-999px; top:-999px; display:block; width:100%; padding:5px}
#skipNavi a:focus, #skipNavi a:active, #skipNavi a:hover {position:absolute; top:0px;left:0; background-color:#e0e0e0; font-size:11px; color:#333; font-weight:bold; vertical-align:middle; text-decoration:none}

.fl {float:left !important}
.fr {float:right !important}
h1 {font-size:0px; line-height:0}
button {padding:0px; *margin:0px; border:0px; cursor:pointer; line-height:0px; font-size:0}

/* 공통 */
.al {text-align:left !important}
.ar {text-align:right !important}
.ac {text-align:center !important}
.vm {vertical-align:middle !important}
.b {font-weight:bold}
.num {text-align:right; color:#444; font-weight:bold}
.imt {display:inline-block; padding-left:10px; color:#ea242d; background:url('/web.admin/images/common/bl_important.gif') no-repeat left 4px;}


/* 여백 */
.mt5 {margin-top:5px !important}
.mt10 {margin-top:10px !important}
.mt15 {margin-top:15px !important}
.mt20 {margin-top:20px !important}
.mt25 {margin-top:25px !important}
.mt30 {margin-top:30px !important}
.mt40 {margin-top:40px !important}
.mt50 {margin-top:50px !important}
.mr5 {margin-right:5px !important}
.ml0 {margin-left:0px !important}
.ml40 {margin-left:40px !important}

/* heading */
#main h1 {position:absolute; top:34px; left:10px; z-index:10}
h1.sub-title {position:absolute; top:15px; left:43px}
h2 {font-size:18px; margin-top:55px; text-align:left;}
h3 {}
h4 {margin-top:40px; font-size:0px; line-height:0px}
h5 {margin-top:20px; margin-bottom:13px; font-size:0px; line-height:0px}

/* layout */
#wrapper {width:100%}
#content-wrap {position:relative; width:960px; margin:0 auto; background:url('/web.admin/images/common/bg_lnb.png') repeat-y 0 0;}
#main #content-wrap {background:none}

.site-link {text-align:right; margin:17px 0 23px 0}
.m-header {float:right; width:770px; height:50px; border-bottom:1px solid #b5b5b5}
.user {text-align:right; font-weight:bold;}

/* btn */
.btn01 {display:inline-block; padding-left:2px; background:url('/web.admin/images/btn/btn01_l.png') no-repeat left 0;}
.btn01 span {display:inline-block; height:12px; line-height:13px; padding:4px; color:#fff; font-weight:bold; background:url('/web.admin/images/btn/btn01_r.png') no-repeat right 0;}
.btn02 {display:inline-block; padding-left:2px; background:url('/web.admin/images/btn/btn02_l.png') no-repeat left 0;}
.btn02 span {display:inline-block; height:17px; line-height:17px; padding:4px 20px; color:#fff; font-weight:bold; background:url('/web.admin/images/btn/btn02_r.png') no-repeat right 0;}
.btn03 {display:inline-block; padding-left:2px; background:url('/web.admin/images/btn/btn03_l.png') no-repeat left 0;}
.btn03 span {display:inline-block; height:17px; line-height:17px; padding:4px 10px; font-weight:bold; background:url('/web.admin/images/btn/btn03_r.png') no-repeat right 0;}

.btn-c {text-align:center; margin-top:20px}
a span {*cursor:pointer !important;}

/* input */
input {font-family:"돋움", "Dotum"; font-size:11px; letter-spacing:0; vertical-align:middle;}
input.ipt {height:16px; padding:3px 2px 0 3px; border:1px solid #ccc; color:#666;}
input.ipt02 {height:16px; padding:3px 2px 0 3px; border:1px solid #ccc; color:#666;}
input.ipt-bbs {height:16px; padding:3px 2px 0 3px; border:1px solid #ccc; color:#666;}
input.ipt-bbs2 {height:14px; padding:3px 2px 0 3px; border:1px solid #ccc; color:#666;}
input.ipt-check {vertical-align:-1px; margin-right:3px;}

/* form */
input.ipt-radio {margin-right:4px; vertical-align:-3px !important; border:none !important;}

/* list */
ul.list01 li {padding-left:11px; line-height:18px; background:url('/web.admin/images/common/bg_list01.gif') no-repeat 0 8px;}
ul.list01.st01:after {content:"."; display:block; height:0px; clear:both; visibility:hidden}
ul.list01.st01 li {float:left; width:96px}
ul.list01.st01 li:first-child {float:left; width:97px}

/* table style */
table.tbl-x {width:100%; table-layout:fixed}
    table.tbl-x th {padding:9px 0 8px 14px; font-size:11px; line-height:11px; color:#444; border-top:2px solid #bbb; border-bottom:1px solid #dfdfdf; text-align:center; background:#f8f8f8}
    table.tbl-x td {padding:6px 0 5px 14px; border-bottom:1px solid #cbcbcb; line-height:19px; text-align:center; font-size:11px; vertical-align:middle}
    table.tbl-x td img {vertical-align:middle}
    table.tbl-x tr.sel td {background:#e5e5e5}
    table.tbl-x tr:hover td {background:#e5e5e5; cursor:pointer}
    table.tbl-x td input{vertical-align:-7px}

table.tbl-x2 {width:100%; border-top:2px solid #bbb; table-layout:fixed}
    table.tbl-x2 th {padding:7px 10px 7px 18px; line-height:11px; color:#444; border-bottom:1px solid #dfdfdf; border-right:1px solid #dfdfdf; text-align:center; background:#f8f8f8}
    table.tbl-x2 td {padding:7px 0 7px 23px; border-bottom:1px solid #dfdfdf; border-right:1px solid #dfdfdf; line-height:15px; text-align:left; vertical-align:middle}
    table.tbl-x2 td img {vertical-align:-2px; margin-right:4px}
    table.tbl-x2 td a.down {color:#de1b5a; font-weight:bold}
    table.tbl-x2 .none {border-right:none}
    
table.tbl-y {width:100%; border-top:2px solid #44676d; border-bottom:2px solid #44676d; table-layout:fixed}
    table.tbl-y th {padding:8px 0 8px 18px; line-height:11px; color:#444; border-right:1px solid #81a5ab; border-bottom:1px solid #81a5ab; background:#dee4e4; text-align:center}
    table.tbl-y th.last {border-right:none;}
    table.tbl-y td {padding:10px 0 9px 14px; border-bottom:1px solid #81a5ab; line-height:15px; text-align:left}

table.tbl-y2 {width:100%; border-top:2px solid #bbb; border-bottom:2px solid #bbb; table-layout:fixed}
    table.tbl-y2 th {padding:9px 10px 9px 10px; line-height:11px; color:#444; border-bottom:1px solid #dfdfdf; text-align:center; background:#f8f8f8; font-size:11px}
    table.tbl-y2.line th, table.tbl-y2.line td {text-align:center; border-right:1px solid #dfdfdf}
    table.tbl-y2 td {padding:7px 10px 7px 10px; border-bottom:1px solid #dfdfdf; line-height:15px; text-align:left; vertical-align:middle; font-size:11px}
    table.tbl-y2 *{vertical-align:middle;}
    table.tbl-y2 td a.file-name {display:inline-block; margin-left:60px; color:#0b82c7;}
    table.tbl-y2 td.qna {height:100px}
    table.tbl-y2 td.answer-area {padding-left:0px; text-align:center}
    table.tbl-y2 input {padding:3px 2px 0 3px; color:#666;}
    table.tbl-y2 label {vertical-align:-3px; *vertical-align:0px}
    table.tbl-y2 textarea {width:600px; height:260px; padding:20px; border:1px solid #ccc; overflow-y:scroll; resize:none}
    table.tbl-y2 textarea.answer {height:120px}
    table.tbl-y2 .none {border-right:none !important}
    .editor {padding:0 30px 10px 30px; border-bottom:2px solid #bbb;}

table.bbs-list {width:100%; table-layout:fixed}
    table.bbs-list th {padding:9px 0 8px 14px; font-size:11px; line-height:11px; color:#444; border-top:2px solid #bbb; border-bottom:1px solid #dfdfdf; text-align:center; background:#f8f8f8}
    table.bbs-list td {padding:10px 0 9px 14px; border-bottom:1px solid #cbcbcb; line-height:15px; text-align:center; font-size:11px; vertical-align:middle}
    table.bbs-list td.content .img {float:left; width:80px; height:60px; margin-right:10px}
    table.bbs-list td.content .txt {margin-left:10px; text-align:left}
    table.bbs-list td.content .txt strong {display:block; margin-bottom:5px; color:#444}
    table.bbs-list td span.date {display:inline-block; margin-top:30px}
    table.bbs-list tr.sel td {background:#e5e5e5}
    table.bbs-list tr:hover td {background:#e5e5e5}

table.bbs-list02 {width: 100%; border-collapse:collapse; border-bottom:2px solid #bbb; table-layout: fixed}
    table.bbs-list02 th {padding:9px 0 8px 14px; border-bottom:1px solid #dfdfdf; font-size:11px; font-weight:bold}
    table.bbs-list02 td {padding:10px 0 9px 14px; border-bottom:1px solid #dfdfdf; padding:4px 30px 2px 30px; text-align:left; color:#888; font-size:11px}
    table.bbs-list02 th.prev {padding-right:5px; background:url('/web.admin/images/btn/bg_arrow_prev.gif') no-repeat right 11px}
    table.bbs-list02 th.next {padding-right:5px; background:url('/web.admin/images/btn/bg_arrow_next.gif') no-repeat right 11px}

table.bbs-view {width: 100%; border-collapse:collapse; table-layout: fixed}
    table.bbs-view th {padding:9px 0 8px 14px; border-bottom:1px solid #dfdfdf; background:#f8f8f8; font-size:11px; font-weight:bold}
    table.bbs-view tr.tit th, table.bbs-view tr.tit td {border-top:2px solid #bbb; background:#f8f8f8}
    table.bbs-view tr.sec th, table.bbs-view tr.sec td {background:#f8f8f8}
     table.bbs-view td {padding:10px 0 9px 14px; border-bottom:1px solid #dfdfdf; padding:4px 30px 4px 30px; text-align:left; color:#888; font-size:11px}
    table.bbs-view td.cont-txt {padding:10px 15px 40px 15px; font-size:12px}

/* paging */
.paging {text-align:center; padding-top:20px}
    .paging a img {margin-top:-1px; vertical-align:middle; *vertical-align:top}
    .paging a {display:inline-block; height:21px; margin:0 6px; font-family:Tahoma; font-size:12px; color:#444}
    .paging a.sel {color:#d90147; font-weight:bold}
    .paging a.first {margin-right:-6px}
